.banner{
    
    background-image: url('https://firebasestorage.googleapis.com/v0/b/tiendasurasvl.appspot.com/o/eminem2.png?alt=media&token=883e9038-67c1-4f3d-9a34-ca83506c40d6');
    background-position: top center;
    background-size: cover;
    padding: 5% 20% 45% 20%;
}